#this env file's only purpose is to give us the credentials we need to access the api as an authorized user;
#the user who is given here only needs read only permissions for the "survey" and "teacher" records
API_PASSWORD="userPassword"
API_USER="userName"